<?xml version="1.0"?>
<configuration>
  <configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="StartupDelayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<StartupDelayer.Properties.Settings>
   <setting name="Language" serializeAs="String">
    <value>us</value>
   </setting>
   <setting name="UpgradeRequired" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FormMain_listviewStartupApplications_ColumnSettings"
    serializeAs="String">
    <value />
   </setting>
   <setting name="FormMain_listViewTasks_ColumnSettings" serializeAs="String">
    <value />
   </setting>
   <setting name="FormMain_listViewServices_ColumnSettings" serializeAs="String">
    <value />
   </setting>
   <setting name="ActiveUser" serializeAs="String">
    <value />
   </setting>
   <setting name="FormMain_WindowSettings" serializeAs="String">
    <value>0,0,743,511,0</value>
   </setting>
   <setting name="FormBackup_WindowSettings" serializeAs="String">
    <value>0,0,608,467,0</value>
   </setting>
   <setting name="FormEdit_WindowSettings" serializeAs="String">
    <value>0,0,608,495,0</value>
   </setting>
   <setting name="FormEditAdvanced_WindowSettings" serializeAs="String">
    <value>0,0,601,370,0</value>
   </setting>
   <setting name="FormEditUserNote_WindowSettings" serializeAs="String">
    <value>0,0,440,384,0</value>
   </setting>
   <setting name="FormLogs_WindowSettings" serializeAs="String">
    <value>0,0,565,403,0</value>
   </setting>
   <setting name="FormNewBackup_WindowSettings" serializeAs="String">
    <value>0,0,600,420,0</value>
   </setting>
   <setting name="FormNewProfile_WindowSettings" serializeAs="String">
    <value>0,0,600,420,0</value>
   </setting>
   <setting name="FormProfiles_WindowSettings" serializeAs="String">
    <value>0,0,602,410,0</value>
   </setting>
   <setting name="FormRecycleApps_WindowSettings" serializeAs="String">
    <value>0,0,568,383,0</value>
   </setting>
   <setting name="FormUserNotes_WindowSettings" serializeAs="String">
    <value>0,0,602,410,0</value>
   </setting>
   <setting name="FormLaunch_WindowSettings" serializeAs="String">
    <value>0,0,551,366,0</value>
   </setting>
   <setting name="FormLaunch_ShowOnStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FormLaunch_AlwaysOnTop" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ActiveAtStartup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FormRecycleApps_listviewStartupApplications_ColumnSettings"
    serializeAs="String">
    <value />
   </setting>
   <setting name="FormNewProfile_listviewStartupApplications_ColumnSettings"
    serializeAs="String">
    <value />
   </setting>
   <setting name="FormProfiles_listviewStartupApplications_ColumnSettings"
    serializeAs="String">
    <value />
   </setting>
   <setting name="FormBackup_listviewUsers_ColumnSettings" serializeAs="String">
    <value />
   </setting>
   <setting name="FormLogs_listviewLogLaunch_ColumnSettingsFixed"
    serializeAs="String">
    <value />
   </setting>
   <setting name="FormNewBackup_listviewUsers_ColumnSettings" serializeAs="String">
    <value />
   </setting>
   <setting name="FormLaunch_ShowNotifier" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FormMain_listviewStartupApplications_ColumnSort"
    serializeAs="String">
    <value>1|1</value>
   </setting>
   <setting name="FormMain_listViewTasks_ColumnSort" serializeAs="String">
    <value />
   </setting>
   <setting name="FormMain_listViewServices_ColumnSort" serializeAs="String">
    <value />
   </setting>
   <setting name="FirstRun" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FormOptions_WindowSettings" serializeAs="String">
    <value>0,0,461,342,0</value>
   </setting>
   <setting name="FormLaunch_ShowNotifierAlways" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IdleCPU" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="IdleDisk" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="BackupLocation" serializeAs="String">
    <value />
   </setting>
   <setting name="FormMain_AutoRefreshTasksAndServices" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FormEdit_listViewTaskModules_ColumnSettings" serializeAs="String">
    <value />
   </setting>
   <setting name="FormEdit_listViewTaskModules_ColumnSort" serializeAs="String">
    <value />
   </setting>
   <setting name="WaitForProcessesAtStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WaitForProcessesList" serializeAs="String">
    <value />
   </setting>
   <setting name="StartupProfilesLocation" serializeAs="String">
    <value />
   </setting>
   <setting name="AutoUpdateEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoUpdateEnabledBeta" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoUpdateLastCheck" serializeAs="String">
    <value />
   </setting>
   <setting name="FormMain_tabControl_SelectedTab" serializeAs="String">
    <value />
   </setting>
   <setting name="AskedAboutUsage" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FormNotifier_Expanded" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FormNotifier_Position" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="PrefixNameWithDelayOrder" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WaitForProcessesFullyLoad" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FormMain_CombineCommonAndUser" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FormMain_DisableServicesTab" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FormMain_DisableRunningTasksTab" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoUpdateWasUpdateFound" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DisplayPostLaunchMessage" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowSystemTrayIconDuringStartup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LocalLanguageVersion" serializeAs="String">
    <value />
   </setting>
   <setting name="AutoUpdateLocalizationLastCheck" serializeAs="String">
    <value />
   </setting>
   <setting name="TaskSchedulerSystemCheckOk" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SerializeLogFiles" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WaitForStartupSeconds" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="HideSystemTrayIconWhenDone" serializeAs="String">
    <value>True</value>
   </setting>
  </StartupDelayer.Properties.Settings>
	</userSettings>
	<!--<system.diagnostics>
      <switches>
         <add name="XmlSerialization.Compilation" value="1" />
      </switches>
   </system.diagnostics>-->
	<!--<system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="4"/>
    </switches>
  </system.diagnostics>-->
	<startup>
	<supportedRuntime version="v2.0.50727"/></startup>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>

</configuration>
